.panel {
    background: lightgrey;
    border-style: outset;
}

.header, .grid {
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reset {
    width: 26px;
    height: 26px;
    background-position: center;
    background-size: cover;
}